body{
    position: fixed;
}

/*Header jspf*/
.header{
    position:fixed;
    top: 0;
    width:100%;  
    background-color: aliceblue;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.header img{
    margin-top: 10px; 
    margin-left: 50px; 
    margin-bottom: 10px; 
    width: 200px; 
    height:80px;
}


/*All*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica;
}

.wrapper{
    display: flex;
    position: relative;
}

/*Sidebar jspf*/
.wrapper .sidebar{
  height: 100%;
  width: 210px;
  position: fixed;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
  top:108px;
  background: #19607f;
  padding: 10px 0;
}
.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid lightgray;
}

.wrapper .sidebar ul li a{
  color: whitesmoke;
  text-decoration: none;
}

.wrapper .sidebar ul li a .fa-solid{
    width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #2d3b55;
  transition: ease-out 0.2s;
  color: black;
}

/*Asset page */
.asset{
  margin-left: 210px; 
  padding: 0px 5px;
}



.topbar{
    padding: 5px 5px;
    margin-top: 22px;
    font-weight: bold;
    width: 88%;
    height: 30px;
    position: fixed;
    overflow: hidden;
    top: 87px;
    z-index: 1;
    background-color: white;
    border:  1px solid black;
    border-radius: 4px;
}

.topbar a{
  display: inline;
  color: black;
  padding: 15px 15px 15px 15px;
  text-decoration: none;
  font-size: 15px;
  
}

.topbar a:hover {
  background-color: #eeeeee;
  
}


.undertopbar{
  margin-top: 60px;
  width: 100%;
  height: 32px;
  position: fixed;
  overflow: hidden;
  top:100px;
  z-index: 1;
  background-color: white;
  
}

.undertopbar a{
  display: inline;
  color: black;
  padding: 0 15px 0 15px;
  text-decoration: none;
  font-size: 20px;
  
}

.undertopbar input{
   font-size: 20px;
}

.undertopbar a:hover {
  background-color: #eeeeee;;
  
}

.addasset-bg input[type=text]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.addasset-bg label{
    padding: 12px 12px 12px 0;
    display: inline-block;
    text-align: left;
}

.addasset-bg input[type=submit]{
    background-color: #04AA6D;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 20%;
    float: right;
    margin-right: 10px;
    text-align: center;
}

.addasset-bg input[type=submit]:hover{
    background-color: #45a049;
    
}

.addasset-bg .row button{
    background-color: #ccc;
    color: black;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 20%;
    text-align: center;
}

/*Add Asset form*/
.addasset-bg{
    top: 130px;
    width: 850px;
    height: auto;
    visibility: hidden;
    position: fixed;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 15px;
    
    font-size: 15px;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    margin-left: 500px;
    
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
}

.addasset-bg .col-1{
    float: left;
    width: 25%;
    margin-left: 15px;
    text-align: left;
}

.addasset-bg .col-2{
    float: left;
    width: 70%;
    text-align: left;
}

.addasset-bg .row:after{
    content: "";
    display: table;
    clear: both;
}

.addasset-bg .addForm{
    width : 800px;
    border: none;
}

.addasset-bg .addForm td{
    border: none;
}

/*Delete Form*/
.deleteAsset-bg{
    visibility: hidden;
    position: fixed;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: 100px;
    top: 105px;
}

.deleteAsset{
    border: solid;
    font-size: 20px;
    background-color: blue;
    position: fixed;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    opacity: 1;
    top: 120px;
    margin-left: 200px;
    
}

.notes{
    margin-left: 220px;
    margin-top: 190px;
    color: green;
    font-size: 15px;
    position: fixed;
}

/*Asset Table*/
.assetlist{
    margin-top: 260px;
    margin-left: 210px; 
    max-width: 90%;
    left: 120px;
    font-size: 15px;
    padding: 8px;
    border-radius: 4px;
    width: 70%;
    height: 685px;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;
}

.assetlist button{
    background-color: #f44336;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: auto;
    cursor: pointer;
    
}

/* Sortable tables */
.assetlist .sortable{
    border-collapse: collapse;
    width: 100%;
    color: black;
    column-width: 20px;
}

.assetlist .sortable tr:hover {
    background-color: #ddd;
}

.assetlist .sortable tbody td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
    text-align: center;
    overflow: auto;
}

.assetlist .sortable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.assetlist .sortable thead th{
    background-color: cadetblue;
    border: 1px solid #dddddd;
    text-align: center;
    color: white;
    height: 60px;
    padding: 4px;
    font-weight: bold;
    position: sticky;
    top: 0;
}

.assetlist .sortable th:nth-child(1){
    background-color: cadetblue;
    position: sticky;
    top: 0;
    left: 0;
}

.developer {
    display :none;
}


.importfile-bg input[type=file]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.importfile-bg label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.importfile-bg input[type=submit]{
    background-color: #04AA6D;
    color: white;
    padding: 9px;
    border: none;
    border-radius: 4px;
    width: 20%;
    float: right;
    margin-right: 10px;
    text-align: center;
}

.importfile-bg input[type=submit]:hover{
    background-color: #45a049;
}

.importfile-bg .row button{
    background-color: #ccc;
    color: black;
    padding: 9px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 20%;
    text-align: center;
}

/*Add Asset form*/
.importfile-bg{
    top: 300px;
    width: 500px;
    height: auto;
    visibility: hidden;
    position: fixed;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 15px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    margin-left: 500px;
    
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
}

.importfile-bg .col-1{
    float: left;
    width: 100%;
    margin-top: 6px;
}

.importfile-bg .col-2{
    float: left;
    width: 100%;
    margin-top: 3px;
}

.importfile-bg .row:after{
    content: "";
    display: table;
    clear: both;
}


/*Edit-View Asset*/
.editasset-bg input[type=text]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.editasset-bg label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.editasset-bg input[type=submit]{
    background-color: #04AA6D;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 20%;
    float: right;
    margin-right: 10px;
    text-align: center;
}

.editasset-bg input[type=submit]:hover{
    background-color: #45a049;
}

.editasset-bg .row button{
    background-color: #ccc;
    color: black;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 20%;
    text-align: center;
}

.editasset-bg .col-1{
    float: left;
    width: 25%;
    margin-left: 15px;
    text-align: left;
}

.editasset-bg .col-2{
    float: left;
    width: 70%;
    text-align: left;
}

.editasset-bg .row:after{
    content: "";
    display: table;
    clear: both;
}

.editasset-bg .editForm{
    width: 800px;
    border: none;
}

.editasset-bg .editForm td{
    border: none;
}


/*Edit Asset form*/
.editasset-bg{
    top: 120px;
    width: 900px;
    height: 750px;
    visibility: hidden;
    position: fixed;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 15px;

    font-size: 15px;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    margin-left: 500px;
    
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
}

.editForm {
    width : 800px;
}




/*deleteasst-bg*/
.deleteasset-bg{
    top: 180px;
    width: 630px;
    height: auto;
    visibility: hidden;
    position: fixed;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 15px;

    font-size: 15px;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    margin-left: 600px;
    
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
}



.deleteasset-bg input[type=text]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.deleteasset-bg label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.deleteasset-bg .cancel{
    background-color: #ccc;
    color: black;
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 20%;
    float: right;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}

.deleteasset-bg input[type=submit]{
    background-color: #04AA6D;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 20%;
    float: right;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}

.deleteasset-bg input[type=submit]:hover{
    background-color: #45a049;
}

.deleteasset-bg button{
    background-color: #ccc;
    color: black;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 20%;
    text-align: center;
}
